<nav class="navbar navbar-light bg-light">
    <form class="form-inline col-12">
        <div class="row col-9">
            <button class="btn btn-success col mr-3" type="button">Inicio</button>
            <button class="btn btn-success col mr-3" type="button">Nosotros</button>
            <button class="btn btn-success col mr-3" type="button">Círculo Forum</button>
            <button class="btn btn-success col mr-3" type="button">Noticias</button>
            <button class="btn btn-success col mr-3" type="button">Suscripción</button>
            <button class="btn btn-success col mr-3" type="button">Contacto</button>
        </div>
        <button class="btn btn-secondary col" type="button">{{dia}} / {{mes}} / {{year}}</button>
    </form>
</nav>