<div class="card-deck mt-3">
   
        <div class="card tarjeta-rosa text-light">
            <div class="card-body text-center">
              <h5 class="card-title">ESCUCHANOS EN VIVO</h5>
              <h4 class="font-weight-bold">ON LINE</h4>
              <div class="circulo">
                <h2>FORUM<br><p class="radio">radio</p></h2>
                
              </div>
              <i>los sonidos del mundo</i>
            </div>
          </div>
   
   
        <div class="card tarjeta-gris  text-light">
            <div class="card-body text-center">
              <h5 class="card-title m-0">F <span class="text-success m-0">O</span> RUM</h5>
              <p class="card-text">Te invita</p>
              <p href="#" class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, porro. Ipsam iste distinctpio repellat nisi earum, odio quia ea doloribus possimus corrupti voluptatibus obcaecati, eos temporibus vel veritatis non voluptate?</p>
                <p class="text-success">REVISTA FORUM</p>
            </div>
          </div>
   
   
        <div class="card tarjeta-facebook">
            <div class="card-body">
                <div class="container">
                    <p>A 365 personas les gusta esto</p>
                    <hr>
                    <div class="row row-cols-4 facebook">
                      <img src="../../../assets/img/1.jpg" alt="" class="m-1">
                      <img src="../../../assets/img/2.jpg" alt="" class="m-1">
                      <img src="../../../assets/img/3.jpg" alt="" class="m-1">
                      <img src="../../../assets/img/4.jpg" alt="" class="m-1">
                      <img src="../../../assets/img/5.jpg" alt="" class="m-1">
                      <img src="../../../assets/img/6.jpg" alt="" class="m-1">
                      <img src="../../../assets/img/7.jpg" alt="" class="m-1">
                      <img src="../../../assets/img/8.jpg" alt="" class="m-1">
                      <img src="../../../assets/img/9.jpg" alt="" class="m-1">
                    </div>
                  </div>
            </div>
          </div>
   
   
    
            <div class="card tarjeta-hoja text-light">
                <img class="card-img-top" src="../../../assets/img/hoja.jpg" alt="Card image">
                <div class="card-img-overlay">
                  <h4 class="card-title">Revista</h4>
                  <h2 class="card-text texto-hoja">F <span class="text-success">O</span> RUM</h2>
                  <p>Contáctanos</p>
                  <P>EMAIL:</P>
                  <P>contacto@revistaforum.com</P>
                  <P>TELÉFONO:</P>
                  <P>449 11 44 224</P>
                  <P>DIRECCIÓN:</P>
                  <P>Av. Paltitlan 345 Fundición</P>
                </div>
              </div>
        
   
</div>

